## FIXME: When we remove live-build, we can very likely reuse the standard
## GRUB config (including the SMBIOS reader here) and get rid of this.
##
## NOTE: Implementation comments do not belong in this script.
# dm-smbios-reader: begin
insmod regexp
insmod smbios
insmod serial
set dm_smbios_vendor=
set dm_smbios_serial_index=0
set dm_smbios_oem=
set dm_smbios_extra=
smbios --type 1 --get-string 4 --set dm_smbios_vendor
if [ "${dm_smbios_vendor}" = "QEMU" ]; then
    smbios --type 1 --get-byte 7 --set dm_smbios_serial_index
    if [ "${dm_smbios_serial_index}" != "0" ]; then
        smbios --type 1 --get-string 7 --set dm_smbios_oem
        regexp --set 1:dm_smbios_extra "^dm-cmdline=(.*)" "${dm_smbios_oem}"
    fi
fi
if [ -n "${dm_smbios_extra}" ]; then
    serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
    terminal_output serial console
    set timeout=0
fi
# dm-smbios-reader: end
