## Packed into efi.img: some firmware sets root to the ESP itself, so redirect to
## the real GRUB config on the medium carrying /.disk/info.
search --set=root --file /.disk/info
set prefix=($root)/boot/grub
configfile ($root)/boot/grub/grub.cfg
