## Migrated from Debian live-build, adapted for derivative-maker.
## Copyright (C) 2016 - 2020 The Debian Live team
## Copyright (C) 2006 - 2015 Daniel Baumann <mail@daniel-baumann.ch>
## Copyright (C) 2026 - 2026 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

source /boot/grub/config.cfg

menuentry "LIVE Mode | USER Session | disposable use" --hotkey=l {
  linux /live/vmlinuz @APPEND_LIVE@
  initrd /live/initrd.img
}

menuentry "LIVE Mode | SYSMAINT Session | system maintenance, install" {
  linux /live/vmlinuz @APPEND_LIVE@ systemd.unit=sysmaint-boot.target boot-role=sysmaint
  initrd /live/initrd.img
}

menuentry "LIVE Mode | UNRESTRICTED Session | system recovery, install" {
  linux /live/vmlinuz @APPEND_LIVE@ boot-role=unrestricted-admin
  initrd /live/initrd.img
}

submenu 'Utilities...' --hotkey=u {
  source /boot/grub/theme.cfg

  if [ "x${grub_platform}" = "xpc" ] -a [ -e /live/memtest.bin ]; then
    menuentry "Memory Diagnostic Tool (memtest86+)" --hotkey=m {
      linux /live/memtest.bin
    }
  elif [ "x${grub_platform}" = "xefi" ] -a [ -e /live/memtest.efi ]; then
    menuentry "Memory Diagnostic Tool (memtest86+)" --hotkey=m {
      linux /live/memtest.efi
    }
  fi

  if [ "x${grub_platform}" = "xefi" ]; then
    menuentry "UEFI Firmware Settings" {
      fwsetup
    }
  fi

  menuentry "Verify integrity of the boot medium" --hotkey=v {
    linux /live/vmlinuz @APPEND_LIVE@ rd.live.check
    initrd /live/initrd.img
  }
}
